[submodule "submodules/haf"]
	path = submodules/haf
	url = https://gitlab.syncad.com/hive/haf.git
[submodule "submodules/haf_api_node"]
	path = submodules/haf_api_node
	url = https://gitlab.syncad.com/hive/haf_api_node.git
[submodule "submodules/hivemind"]
	path = submodules/hivemind
	url = https://gitlab.syncad.com/hive/hivemind.git
