[submodule "submodules/haf"]
	path = submodules/haf
	url = ../haf.git
[submodule "submodules/haf_api_node"]
	path = submodules/haf_api_node
	url = ../haf_api_node.git
[submodule "submodules/hivemind"]
	path = submodules/hivemind
	url = ../hivemind.git
